.reservation_container{
    width: 95%;
    background-color: white;
    padding: 2%;
    border-radius: 8px;
    text-align: left;

}

.user_detail_container{
    width: 95%;
    background-color: white;
    text-align: left;
}

.heading{
    font-size: 20pt;
    font-family: sans-serif;
    font-weight: bold;
}

.sub_heading{
    font-size: 15pt;
    font-family: sans-serif;
    font-weight: bold;
}

.lable{
    font-size: 12pt;
    font-family: sans-serif;
    font-weight: bold;
}

.lable_data{
    font-size: 12pt;
    font-family: sans-serif;
}

.img_size{
    height: 150px;
    width: 150px;
    border-radius: 7;
}
